{
    "domain_name": "mgmt.event.somedomain.tld",
    "admin_password": "secret",
    "snmp_community": "public",
    "snmp_location": "Somewhere at some event",
    "snmp_contact": "Some NOC",
    "snmp_trap_targets": [ "127.0.0.1" ],
    "dhcp_servers": [ "127.0.0.1" ],
    "dns_servers": [ "127.0.0.1" ],
    "ntp_servers": [ "127.0.0.1" ],
    "syslog_servers": [ "127.0.0.1" ],
    "ipv6_dhcp_servers": [ ],
    "ipv6_dns_servers": [ "2001:db8::fe00:1" ],
    "ipv6_dns_suffix": "at.event.somedomain.tld",
    "transfernets_ipv4": [ "10.0.0.0/24" ],
    "transfernets_ipv6": [ "2001:db8::/64" ],
    "operator_nets_ipv4": [ "212.13.208.11/32", "127.0.0.1/32" ],
    "radius_enabled": 0,
    "radius_servers": [ ],
    "radius_key_crypt": "",
    "radius_key": "",
    "motd": "Ohai!",
    "access_mac_limit": 64,
    "access_recovery_timeout": 66,
}
